.centered {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-right: 0.75em;
}

#airplane-layout .seat {
    stroke: rgba(0, 0, 0, 0.5);
    fill: rgba(0, 0, 0, 0.1);
}

#airplane-controls .button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 6px 20px;
    margin: 0 3px;
    background-color: #5f5f5f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#airplane-layout .hidden {
    display: none;
}

#airplane-layout .passenger {
    stroke: #20ac53;
    fill: rgba(90, 255, 67, 0.5);
}

#airplane-layout .interchanging {
    stroke: #ac602e;
    fill: rgba(255, 108, 51, 0.5);
}

#airplane-layout .passenger.seated {
    stroke: #2b7cac;
    fill: rgba(109, 167, 255, 0.57);
}

#airplane-layout .passenger.wait {
    stroke: #ac4e55;
    fill: rgba(255, 50, 70, 0.6);
}

#airplane-layout .passenger.seating {
    stroke: #9464ac;
    fill: rgba(203, 135, 255, 0.6);
}

#airplane-layout .time {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

#airplane-layout .speed-box {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    opacity: 0.5;
}
